<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>BookCase</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="title">
          <h1 class="title__name">BookCase</h1>
        </div>
        <img src="/logo.jpeg" alt="logo" />
        <h5 class="subtitle">платформа для обучения</h5>
      </header>
      <main class="main"></main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
